/** Font : Assistant */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap");
/** Tailwind css base (v.3.2.7) */
@tailwind base;
@tailwind components;
@tailwind utilities;
/** PACE */
.pace {
    @apply select-none pointer-events-none;
}
.pace-inactive {
    @apply hidden;
}
.pace .pace-progress {
    @apply bg-teal-500 fixed z-[9999] top-0 right-full w-full h-1;
}
/*TRIX WYSIWYG */
trix-toolbar {
    position: -webkit-sticky;
    position: sticky;
    top: -0.1rem;
    background-color: #fff;
    z-index: 0;
    padding: 1em 0;
}
trix-toolbar .trix-button-group {
    margin-bottom: 0;
}
/** Calendar scrollbar */
.fc-scroller-liquid-absolute::-webkit-scrollbar {
    @apply cursor-pointer w-1 h-1;
}
.fc-scroller-liquid-absolute::-webkit-scrollbar-thumb {
    @apply bg-slate-400 cursor-pointer;
}
.fc-scroller-liquid-absolute::-webkit-scrollbar-track {
    @apply bg-slate-100 cursor-pointer;
}
/** MAP */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
/* SIDEBAR */
#sidebar {
    --tw-translate-x: -100%;
}
#menu-close-icon {
    display: none;
}
#menu-open:checked ~ #sidebar {
    --tw-translate-x: 0;
}
#menu-open:checked ~ * #mobile-menu-button {
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
    color: white;
}
#menu-open:checked ~ * #menu-open-icon {
    display: none;
}
#menu-open:checked ~ * #menu-close-icon {
    display: block;
    color: white;
}
@media (min-width: 768px) {
    #sidebar {
        --tw-translate-x: 0;
    }
}
@layer components {
    .rotated {
        @apply transition duration-300 ease-in-out rotate-90 inline-block;
    }
}

/** Required Fields */

.required::after{
    content:'*';
    @apply text-red-500 font-bold;
}

